{% extends '::base.html.twig' %}

{% block body %}

    <h1>Ajouter un produit</h1>

    {{ form_start(form) }}

        {{ form_rest(form) }}

        <button type="submit">Save</button>

    {{ form_end(form) }}

{% endblock %}